{% extends "base.html" %}
{% load static %}

{% block title %}Local Events{% endblock %}

{% block content %}
<h2>Local Events List</h2>
{% if request.user.is_authenticated %}
  <div style="margin-bottom: 1rem;">
    {% if request.user.profile.role == 'Event Organizer' %}
      <a href="{% url 'localevents:event_create' %}">Create New Event</a> | 
    {% endif %}
    <a href="{% url 'localevents:event_list' %}">Refresh List</a>
  </div>
{% endif %}
{% if created_events %}
  <h3>Created Events</h3>
  <ul>
    {% for event in created_events %}
    <li>
      <a href="{{ event.get_absolute_url }}"> {{ event.title }} </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% if signed_up_events %}
  <h3>Signed Up Events</h3>
  <ul>
    {% for event in signed_up_events %}
    <li>
      <a href="{{ event.get_absolute_url }}"> {{ event.title }} </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
{% if all_events %}
  <h3>All Other Events</h3>
  <ul>
    {% for event in all_events %}
    <li>
      <a href="{{ event.get_absolute_url }}"> {{ event.title }} </a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
<a href="{% url 'home' %}">Back to home</a>
{% endblock content %}
