{% extends "base.html" %}
{% load static %}
{% block title %}Event Signup{% endblock %}
{% block content %}
<h2>Sign up for {{ event.title }}</h2>
<ul>
    <li><strong>Category:</strong> {{ event.category }}<br></li>
    <li><strong>Organizer:</strong> {{ event.organizer.first }}<br></li>
    {% if event.event_image %}
    <li><strong>Event image:</strong><br>
      <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="max-width: 300px; display: block; margin-bottom: 1rem;">
    {% endif %}
    <li><strong>Location:</strong> {{ event.location }}<br></li>
    <li><strong>Start Time: </strong> {{ event.start_time }}<br></li>
    <li><strong>End Time: </strong> {{ event.end_time }}<br></li>
    <li><strong>Created on:</strong> {{ event.created_on }}<br></li>
    <li><strong>Updated on:</strong> {{ event.updated_on }}<br></li>
    <li><strong>Status:</strong> {{ event.status }}<br></li>
    <li><strong>Max Attendees:</strong> {{ event.event_capacity }}<br></li>
    <li><strong>Number of Signups:</strong> {{ event.signups.count }}<br></li>
</ul>
<p><strong>Description:</strong> {{ event.description }}</p>
{% if event.event_capacity and event.signups.count >= event.event_capacity %}
<p>This event is full.</p>
{% else %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit</button>
</form>
{% endif %}
<a href="{% url 'localevents:event_detail' event.pk %}">Back to event</a>
{% endblock %}