{% extends "base.html" %}
{% load static %}
{% block title %}{{ event.title }}{% endblock %}
{% block content %}
<h2>Local Event: {{ event.title }}</h2>
<ul>
    <li><strong>Category:</strong> {{ event.category }}</li>
    <li><strong>Organizer:</strong> {{ event.organizer.first.display_name }}</li>
    {% if event.event_image %}
    <li>
      <strong>Event Image:</strong><br>
      <img src="{{ event.event_image.url }}" alt="{{ event.title }}" style="max-width: 300px; display: block; margin-top: 0.5rem; margin-bottom: 1rem;">
    </li>
    {% endif %}
    <li><strong>Location:</strong> {{ event.location }}</li>
    <li><strong>Start Time: </strong> {{ event.start_time }}</li>
    <li><strong>End Time: </strong> {{ event.end_time }}</li>
    <li><strong>Status:</strong> {{ event.get_status_display }}</li>
    <li><strong>Max Attendees:</strong> {{ event.event_capacity }}</li>
    <li><strong>Signups:</strong> {{ event.signups.count }}</li>
</ul>
<p><strong>Description:</strong> {{ event.description }}</p>
    <form method="post">
        {% csrf_token %}
        {% if not is_organizer and not has_signed_up %}
            <button type="submit" {% if is_full %}disabled{% endif %}>Sign up</button>
        {% elif has_signed_up %}
            <button disabled>Sign up</button>
            <p>You are already signed up for this event.</p>
        {% elif request.user.is_authenticated and is_organizer %}
            <button disabled>Sign up</button>
            <p>Organizers cannot sign up for their own event.</p>
        {% endif %}
    </form>
{% if request.user.is_authenticated %}
  <div style="margin-bottom: 1rem;">
    {% if is_organizer %}
      <a href="{% url 'localevents:event_update' event.pk %}">Update Event</a>  
    {% endif %}
  </div>
{% endif %}
<a href="{% url 'localevents:event_list' %}">Back to all events</a>
{% endblock content %}
