{% extends "base.html" %}
{% block title %}MerchStore{% endblock %}
{% block content %}
  <h2>Merchandise Store</h2>
  
  {% if request.user.is_authenticated %}
    <p><a href="{% url 'merchstore:item-add' %}">Create New Product</a></p>
  {% endif %}

  {% if my_products %}
    <h3>My Products</h3>
    <ul>
    {% for item in my_products %}
      <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a> ({{ item.status }})</li>
    {% endfor %}
    </ul>
    
    <h3>All Other Products</h3>
  {% endif %}
  
  <ul>
  {% for item in all_products %}
    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a> ({{ item.status }})</li>
  {% endfor %}
  </ul>
{% endblock %}
