{% extends "base.html" %}
{% load static %}
{% block title %}Product Form{% endblock %}
{% block content %}
<h2>{% if product %}Edit{% else %}Create{% endif %} Product</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn">Save Product</button>
</form>

<br>
{% if product %}
  <a href="{{ product.get_absolute_url }}">Back to product</a>
{% else %}
  <a href="{% url 'merchstore:product-list' %}">Cancel</a>
{% endif %}
{% endblock content %}
